// Specific CSS for your home-page
.card-rating {
  p, i {
  color: #CCCCCC ;
  }
}
.card {
  background-color: white;
  margin: 10px;
  border-top: solid 1px #E6E6E6;
}

.content-wrapper {
  background-color: white;
}

.top-wrapper {
  background-color: #F4F4F4;
  padding: 10px;
}
